<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>J_THUMBNAIL_DB</key>
	<dict>
		<key>fileName</key>
		<string>jCachedImages/JThumbnails.sqlite</string>
		<key>maxItems</key>
		<integer>0</integer>
		<key>version</key>
		<integer>0</integer>
		<key>timeToLiveInHours</key>
		<integer>10000</integer>
		<key>autoRemove</key>
		<dict>
			<key>lastAccessDateInHours</key>
			<integer>320</integer>
			<key>maxSizeInMB</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>
